
/* COLORS */
$clr-white: rgb(255, 255, 255);

$clr-gray-100: rgb(131, 134, 154);
$clr-gray-500: rgb(102, 108, 163);
$clr-gray-900: rgb(19, 24, 63);

$clr-pink-100: rgb(255, 167, 195);
$clr-pink-500: rgb(247, 71, 128);

$grad-clr-pink: rgb(240, 42, 166);
$grad-clr-orange: rgb(255, 111, 72);
$grad-clr-blue: rgb(72, 81, 255);


/* TYPE */
$ff-regular: 'Plus Jakarta Sans', sans-serif;

$fw-regular: 500;
$fw-bold: 700;
$fw-heavy: 800;

$fs-body-100: 1rem; // used
$fs-body-200: 1.125rem; // used

$fs-heading-100: 1.25rem; // used
$fs-heading-200: 1.5rem; // used
$fs-heading-300: 2.5rem; // used
$fs-heading-400: 3.5rem; // used

$lh-body: 1.625rem; // used
$lh-heading-100: 1.575rem; // used
$lh-heading-200: 2rem; // used
$lh-heading-300: 3.15rem; // used
$lh-heading-400: 4.375rem; // used